.grid-container {
  margin: 20px;
}


.males {
  background-color: burlywood;
}

.females {
  background-color: darkkhaki;
}

.total {
  background-color: violet;
}

mat-card {
  height: 100px;
  padding: 10px;
  align-items: center;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  font-size: 3rem;
}
