<div class="grid-container">
    <h2 class="mat-h2">{{ paymentsData?.year }} - PAYMENTS SUMMARY</h2>
    <div class="row">
        <div class="col-md-12">
            <chart
                *ngIf="paymentsData?.chart"
                type="bar"
                [data]="paymentsData.chart.dataset"
                [options]="options"
            ></chart>
        </div>
    </div>

    <h2 class="mat-h2">Gender Statistics</h2>
    <div class="row">
        <!-- Males -->
        <div class="col-md-4 py-2">
            <mat-card class="dashboard-card males">
                <mat-card-header>
                    <mat-card-title> Males </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <!-- <mat-icon color="accent">male</mat-icon> -->
                    <p>{{ membersData?.males }}</p>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- Females -->
        <div class="col-md-4 py-2">
            <mat-card class="dashboard-card females">
                <mat-card-header>
                    <mat-card-title> Females </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <!-- <mat-icon color="primary">female</mat-icon> -->
                    <p>{{ membersData?.females }}</p>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- Total -->
        <div class="col-md-4 py-2">
            <mat-card class="dashboard-card total">
                <mat-card-header>
                    <mat-card-title> Total </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <p>{{ membersData?.total }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <h2 class="mat-h2">Occupation Statistics</h2>
    <div class="row">
        <div class="col-md-12">
            <chart *ngIf="membersData?.chart" type="bar" [data]="membersData.chart.dataset" [options]="options"></chart>
        </div>
    </div>
</div>
