<mat-tab-group animationDuration="300ms">
    <!-- #region Basic Info -->
    <mat-tab label="Basic Info">
        <div class="container">
            <div class="fb-profile">
                <img
                    align="left"
                    class="fb-image-lg"
                    src="http://lorempixel.com/850/280/nightlife/5/"
                    alt="Profile image example"
                />
                <img
                    align="left"
                    class="fb-image-profile thumbnail img-thumbnail"
                    src="http://lorempixel.com/180/180/people/9/"
                    alt="Profile image example"
                />
                <div class="fb-profile-text">
                    <h1>{{ fullName(userdata) }}</h1>
                    <p>Girls just wanna go fun.</p>
                </div>
            </div>
        </div>
        <!-- #region Grid layout to update user details -->
        <div class="container">
            <form>
                <mat-form-field>
                    <mat-label>Surname:</mat-label>
                    <input matInput type="text" placeholder="Surname of member" />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Surname:</mat-label>
                    <input matInput type="text" placeholder="Surname of member" />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Surname:</mat-label>
                    <input matInput type="text" placeholder="Surname of member" />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Surname:</mat-label>
                    <input matInput type="text" placeholder="Surname of member" />
                </mat-form-field>
            </form>
        </div>
        <!-- #endregion -->
    </mat-tab>
    <!-- #endregion -->

    <!-- #region Second Content -->
    <mat-tab label="Second">Content 2</mat-tab>
    <!-- #endregion -->

    <!-- #region Third Content -->
    <mat-tab label="Third">Content 3</mat-tab>
    <!-- #endregion -->
</mat-tab-group>
