<div align="end">
  <button mat-raised-button color="primary" (click)="openAddMemberDialog()">
    <mat-icon>person_add</mat-icon> Add Member
  </button>
</div>
<mat-form-field appearance="outline">
  <mat-label>Search for a member</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Ex. kwame"
    #searchMemberInput
  />
  <mat-hint>Type anything (eg. name, gender, number) about the member to search for</mat-hint>
</mat-form-field>

<div class="full-width">
  <table
    
    matTableExporter
    mat-table
    [dataSource]="dataSource"
    #exporter="matTableExporter"
    matSort
  >
    <!-- ID Column -->
    <!-- <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row._id}} </td>
    </ng-container> -->

    <!-- Email Column -->
    <!-- <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"><a href="mailto:{{row.email}}">{{row.email}}</a></td>
    </ng-container> -->

    <!-- Surname Column -->
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Surname</th>
      <td mat-cell *matCellDef="let row">{{ row.accountOwner?.surname }}</td>
    </ng-container>

    <!-- firstName Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let row">{{ row.accountOwner?.firstName }}</td>
    </ng-container>

    <!-- otherNames Column -->
    <ng-container matColumnDef="otherNames">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Other Names</th>
      <td mat-cell *matCellDef="let row">{{ row.accountOwner?.otherNames }}</td>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
      <td mat-cell *matCellDef="let row">{{ row.accountOwner?.gender }}</td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
      <td mat-cell *matCellDef="let row">{{ row.username }}</td>
    </ng-container>

    <!-- Mobile Number -->
    <ng-container matColumnDef="primaryMobileNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile #</th>
      <td mat-cell *matCellDef="let row">
        <a href="tel:{{ row.accountOwner?.primaryMobileNumber }}"><mat-icon matPrefix>call</mat-icon> {{
          row.accountOwner?.primaryMobileNumber
        }}</a>
      </td>
    </ng-container>

    <!-- Action Buttons -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
      <td mat-cell *matCellDef="let row">
         <button mat-flat-button (click)="openEditMemberDialog(row.accountOwner)">
          <mat-icon color="primary">edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
      <td mat-cell *matCellDef="let row">
         <button mat-flat-button (click)="triggerDeleteAccount(row.accountOwner?._id)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="7">
        No data matching the filter "{{ searchMemberInput.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 20, 30, 50, 100]"
    showFirstLastButtons
  ></mat-paginator>
</div>

<button
  mat-raised-button
  color="accent"
  (click)="
    exporter.exportTable('xlsx', {
      fileName: 'Members List',
      sheet: '2011 batch',
      Props: { Author: 'Kikio' }
    })
  "
>
  Export to Excel
</button>
<!-- <button mat-raised-button (click)="exporter.exportTable('csv')">Csv</button> -->
<!-- <button mat-raised-button (click)="exporter.exportTable('json')">Json</button> -->
<!-- <button mat-raised-button (click)="exporter.exportTable('txt')">Txt</button> -->
<div></div>
