<div class="container h-100 bg-success">
  <div class="row h-100 justify-content-center align-items-center">
    
      
      
<mat-tab-group animationDuration="0ms" class="clock-270">
    <mat-tab label="Donald">
        <div class="view-1">
            A brief description of <strong>Donald</strong> here
        </div>
    </mat-tab>
    <mat-tab label="Jocelyn">
        <div class="view-2">
            A brief description of <strong>Jocelyn</strong> here
        </div>
    </mat-tab>


    <mat-tab label="Daniel">
        <div class="view-3">
            A brief description of <strong>Daniel</strong> here
        </div>
    </mat-tab>
</mat-tab-group>
</div>
</div>