<h2 mat-dialog-title>
  Add Payment Details <span mat-dialog-close>&times;</span>
</h2>

<form [formGroup]="makePaymentForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography block">
    <!-- Payer  Dropdown-->
    <mat-form-field appearance="outline">
      <mat-label>Payer </mat-label>
      <mat-select
        (selectionChange)="onPayerChanged($event)"
        formControlName="payer"
      >
        <mat-option *ngFor="let member of members" [value]="member._id">{{
          fullName(member)
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Payer Dropdown with autocomplete -->
    <!-- <mat-form-field appearance="outline">
      <mat-label>Payer </mat-label>

      <input
        type="text"
        placeholder="Select the name of the payer"
        aria-label="member name"
        matInput
        formControlName="payer"
        [matAutocomplete]="auto"
        value="me"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let member of filteredMembers | async"
          [value]="member._id"
        >
          {{ fullName(member) }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field> -->

    <!-- Year of payment -->
    <!-- <mat-form-field appearance="outline">
      <mat-label>Year </mat-label>
      <input
        matInput
        type="number"
        formControlName="year"
        placeholder="year"
        min="2011"
      />
    </mat-form-field> -->
    <mat-form-field appearance="outline">
      <mat-label>Year</mat-label>
      <mat-select formControlName="year">
        <mat-option *ngFor="let year of years" [value]="year">{{
          year
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Month of payment -->
    <mat-form-field appearance="outline">
      <mat-label>Month</mat-label>
      <mat-select formControlName="month">
        <mat-option *ngFor="let month of months" [value]="month">{{
          month
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Amount to be paid -->
    <mat-form-field appearance="outline">
      <mat-label>Amount (GHS)</mat-label>
      <input matInput type="number" min="5"  formControlName="amount">
    </mat-form-field>

    <!-- Date of Payment -->
    <!-- <mat-form-field>
      <mat-label>Date of payment</mat-label>
      <input matInput type="date" formControlName="date">
    </mat-form-field> -->

    <mat-form-field appearance="outline">
      <mat-label>Date of payment</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <!-- </div> -->
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="makePaymentForm.value"
      cdkFocusInitial
      type="submit"
      [disabled]="!this.makePaymentForm.valid"
    >
      Save
    </button>
  </mat-dialog-actions>
</form>
