/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background: hsla(54, 56%, 66%, 1);

    background: linear-gradient(90deg, hsla(54, 56%, 66%, 1) 0%, hsla(261, 84%, 45%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(54, 56%, 66%, 1) 0%, hsla(261, 84%, 45%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(54, 56%, 66%, 1) 0%, hsla(261, 84%, 45%, 1) 100%);
}

.small-text {
    font-size: 18px;
}

.medium-text {
    font-size: 25px;
}
.large-text {
    font-size: 30px;
}

th {
    background-color: rgb(216, 143, 250);
}
.mat-row:nth-child(even) {
    background-color: rgb(248, 248, 255);
}

.mat-row:nth-child(odd) {
    background-color: #ffffff;
}
